<div id="<%= dom_id employee %>">
  <p>
    <strong>Role:</strong>
    <%= employee.role_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

  <p>
    <strong>Employeename:</strong>
    <%= employee.employeeName %>
  </p>

  <p>
    <strong>Employeeemail:</strong>
    <%= employee.employeeEmail %>
  </p>

  <p>
    <strong>Employeemobile:</strong>
    <%= employee.employeeMobile %>
  </p>

  <p>
    <strong>Employeestartdate:</strong>
    <%= employee.employeeStartDate %>
  </p>

  <p>
    <strong>Employeeenddate:</strong>
    <%= employee.employeeEndDate %>
  </p>

  <p>
    <strong>Employeestatus:</strong>
    <%= employee.employeeStatus %>
  </p>

  <p>
    <strong>Employeecomments:</strong>
    <%= employee.employeeComments %>
  </p>

  <p>
    <strong>Carnumber:</strong>
    <%= employee.carNumber %>
  </p>

</div>
