<div id="<%= dom_id company %>">
  <p>
    <strong>Ctitle:</strong>
    <%= company.Ctitle %>
  </p>

  <p>
    <strong>Trimed:</strong>
    <%= company.trimed %>
  </p>

  <p>
    <strong>Growerscup:</strong>
    <%= company.GrowersCup %>
  </p>

  <p>
    <strong>Naturespath:</strong>
    <%= company.NaturesPath %>
  </p>

</div>
