<div id="<%= dom_id role %>">
  <p>
    <strong>Admin:</strong>
    <%= role.admin %>
  </p>

  <p>
    <strong>Salesman:</strong>
    <%= role.salesman %>
  </p>

  <p>
    <strong>Accountant:</strong>
    <%= role.accountant %>
  </p>

  <p>
    <strong>Storekeeper:</strong>
    <%= role.storekeeper %>
  </p>

  <p>
    <strong>Designer:</strong>
    <%= role.designer %>
  </p>

  <p>
    <strong>Imports:</strong>
    <%= role.imports %>
  </p>

  <p>
    <strong>Constractions:</strong>
    <%= role.constractions %>
  </p>

  <p>
    <strong>Headofdesign:</strong>
    <%= role.headofDesign %>
  </p>

  <p>
    <strong>Headofsales:</strong>
    <%= role.headofSales %>
  </p>

  <p>
    <strong>Headofstorehouse:</strong>
    <%= role.headofStorehouse %>
  </p>

  <p>
    <strong>Headofimports:</strong>
    <%= role.headofImports %>
  </p>

  <p>
    <strong>Headofconstractions:</strong>
    <%= role.headofConstractions %>
  </p>

  <p>
    <strong>Roledescription:</strong>
    <%= role.roleDescription %>
  </p>

  <p>
    <strong>Printer:</strong>
    <%= role.printer %>
  </p>

</div>
